/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*{
  box-sizing: border-box !important;
  transition: background-color 0.3s ease;
  transition: border-color 0.3s ease;
}

.cm-scroller::-webkit-scrollbar {
  height: 6px; /* Adjust the height for horizontal scrollbar */
  width: 6px;
}

.cm-scroller::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* Customize the thumb color */
  border-radius: 10px; /* Optional: round the corners */
}

.cm-scroller::-webkit-scrollbar-track {
  background-color: #21222c; /* Customize the track color */
}
